<div class="row cards">
    {{#each posts}}
    <div class="col-md-12">

        <a href="{{repURL}}" target="_blank">
            <div id="cards-bg" style="background: url({{imageURL}}); 
                        background-repeat: no-repeat;
                        background-position: right 10% bottom 50%;
                        background-size: {{imageSize}};"
                        class="card">
                <h3>{{title}}</h3>
                <p>{{text}}</p>
            </div>
        </a>

    </div>
    {{/each}}
</div>